@(ctx: in.partake.controller.PartakeActionContext, serverErrorCode: in.partake.resource.ServerErrorCode)@internal.main(ctx, "サーバーエラーが発生しました") {
<div class="container"><div class="content-body">

<div class="page-header">
    <h1>サーバーエラーが発生しました</h1>
</div>

<p>ご迷惑をおかけしております。サーバーの内部でエラーが発生しました。</p>

<p>次のような原因が考えられます。</p>
<ul>
    <li>twitter が不安定であるなどの理由で、twitter へのリクエストが正常に動作しなかった。</li>
    <li>データベースとの接続がうまくいっていない。</li>
</ul>

<p>操作をやり直してみてください。それでもエラーが発生する場合 twitter にて <a href="http://twitter.com/partakein">@@partakein</a> までお問い合わせください。</p>
<p>もしくは、<a href="https://github.com/partakein/partake/issues">Issue Tracker</a> へ登録していただいてもかまいません。(日本語でも英語でもかまいません。)</p>

<h3>エラー詳細 (上級者向け / 管理者向け)</h3>
<p>このエラーは、ユーザーからのリクエストを正常に受け付けたが処理中にサーバー内部で予期せぬエラーが発生した場合に発生します。</p>
@if(serverErrorCode != null) {
    <p>サーバー内部のエラー詳細は以下の通りでした。</p>
    <dl>
        <dt>エラーコード</dt><dd>@serverErrorCode.toString()</dd>
        <dt>エラーメッセージ</dt><dd>@serverErrorCode.getReasonString()</dd>
    </dl>
}
<p><a href="/">トップに戻る</a></p>

</div></div>
}
