conf/twitter4j.properties
bin/
logs
project/project
project/target
target
tmp
.history
dist
.cache
.classpath
.project
.settings
.target
.DS_Store

# --------------------------------------------------
# To support using Vagrant to build development env,
# it is better to ignore these files.

# Just ignore metadata created by Vagrant
/.vagrant

# To share .ivy2 directory from the host, our
# cookbook will make a static link from 
# ~/.ivy2 to /vagrant/.ivy2 in the VM.
/.ivy2
