@(ctx: in.partake.controller.PartakeActionContext, title: String)(content: Html)<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @internal.stylesheet(ctx)

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">

    @internal.javascript(ctx)
    @internal.googleCodeSnippet()
    <title>@title - [PARTAKE]</title>
</head>
<body>
@internal.header(ctx)
@content
@internal.footer(ctx)
</body>
</html>
