@(ctx: in.partake.controller.PartakeActionContext, title: String)(additionalHeader: Html)(content: Html)<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @additionalHeader

    @internal.stylesheet(ctx)

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">

    @internal.javascript(ctx)
    @internal.googleCodeSnippet()
    <title>PARTAKE</title>
</head>
<body>
@internal.header(ctx)
@content
@internal.footer(ctx)
</body>
</html>
