<footer><div class="container">
    <div class="row">
        <div class="span6">
            <h3>PARTAKE</h3>
            <p><a href="/contact">お問い合わせ</a></p>
            <p><a href="/termofuse">利用規約</a></p>
        </div>
        <div class="span12">
            <h3>About</h3>
            <p><a href="https://github.com/partakein/">Copyright &copy; The PARTAKE Committers</a></p>
            <p><a href="http://www.worksap.co.jp/">Powered by <img src="@routes.Assets.at("/images/worksapplications.png")" alt=""></a>
                and <a href="http://aiit.ac.jp/"><img src="@routes.Assets.at("/images/aiit-logo.png")"></a></p>
            <p><a href="http://career.worksap.co.jp/newgraduate/geek/index.html">[PR] 技術者募集</a></p>
        </div>
        <div class="span6">
            <p><a href="#">Back to top</a></p>
        </div>
    </div>
</div></footer>
