@(title: String)(content: Html)(implicit context: controllers.ActionContext)<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @base.stylesheet()

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">

    @base.javascript(context)
    @base.googleCodeSnippet()
    <title>@title - [PARTAKE]</title>
</head>
<body>
@base.header()
@content
@base.footer()
</body>
</html>
