@(ctx: in.partake.controller.PartakeActionContext)@internal.main(ctx, "お問い合わせ") {
<div class="container"><div class="content-body">

<div class="page-header">
    <h1>お問い合わせ</h1>
</div>

<p>お問い合わせ、ご要望などは、twitter で <a href="http://twitter.com/partakein">@@partakein</a> までお送りください。</p><br>

<h2>Powered By</h2>

<div class="biglogo">
<img src="@routes.Assets.at("/images/works-biglogo.jpg")">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="@routes.Assets.at("/images/aiit-biglogo.gif")">
</div>

</div></div>
}
