@(ctx: in.partake.controller.PartakeActionContext)@internal.main(ctx, "利用規約") {
<div class="container"><div class="content-body">

<div class="page-header">
    <h1>利用規約</h1>
</div>

<h2>規約の適用</h2>

<ol>
    <li>本規約は、株式会社ワークスアプリケーションズ（以下、当社）が提供するイベント情報の告知・参加登録などの機能を持つサービス　PARTAKE （以下、本サービス） の利用者（以下、ユーザー）に対して適用されます。</li>
    <li>本規約は必要に応じて変更することがありますが、その都度ユーザーへのご連絡はいたしかねますので、最新の利用規約をご参照ください。また、当社はその裁量により本規約を随時変更することが出来るものとします。その場合、変更内容を本サービスに表示した時点から変更内容が有効になります。</li>
    <li>本規約に定めのない事項は、当社の判断で決定します。</li>
    <li>当社は、ユーザーが本サービスを利用したことによって本規約に同意したものとみなします。本規約に対する不同意の意思表示は、本サービスを利用しないことをもってのみ認められるものとします。</li>
</ol>

<h2>会員登録について</h2>

<ol>
    <li>本サービスにおける会員向けサービスについては、twitter の ID でログインを行った方、もしくは Twitter とひも付けた Open ID でログインを行った方（以下、いずれかのログインを行った方を総称して会員）のみが利用できます。</li>
</ol>

<h2>サービスの利用</h2>

<ol>
    <li>当社は、本サービスにおいて投稿されたイベントに関して、会員の許諾なく次の処理を行うことがあります。
    <ol>
        <li>本サービスに投稿したイベントなどに関して、掲載を拒否すること、修正して掲載すること</li>
        <li>本サービスに投稿したコメントなどを掲載後に修正・削除すること</li>
    </ol></li>
    <li>会員は、本サービス上で会員が作成したコメントなどに関する著作権その他一切の権利が、会員自ら適法に保有していることを当社に対し保証し、当該権利は会員に帰属するものとします。また、会員は、当社が掲載されたコメント等を会員の承諾を得ることなく、当社の任意と裁量により定める当社メディアにおいて何らの制限なく自由に利用することにつき予め包括的に許諾するとともに、当社による当該利用、改変又は公表の有無等について、著作者人格権を一切行使しないものとします。</li>
    <li>会員は、会員自らによる本サービスの利用に起因して当社が第三者より訴訟提起、請求、警告又はクレームその他の行為をなされた場合には、会員自らの責任と負担においてこれを解決し、当社に対し一切迷惑をかけてはなりません。また、当該行為に関連して当社に損害が生じた場合、会員はその一切を賠償する責任を負担します。</li>
</ol>

<h2>本サービスの停止等</h2>

<ol>
    <li>当社は、以下の各号の一に該当すると判断した場合、ユーザーへの事前の通知又は承諾を要せず、一時的に本サービスを中断できるものとします。
    <ol>
        <li>サーバのメンテナンスなどの保守を定期的又は緊急に行う場合</li>
        <li>停電、火災、天災等により、本サービスの提供ができなくなった場合</li>
        <li>戦争、変乱、暴動、騒乱、労働争議等により本サービスの提供ができなくなった場合</li>
        <li>その他、運用上、技術上、当社が本サービスの一時的中断を必要と判断した場合</li>
    </ol></li>
    <li>当社は、本サービスのサービスや情報、URLを、予告なしに変更または廃止する場合があります。</li>
    <li>前２項の規定により本サービスの運用が一時的に停止されまたは本サービスのサービスや情報、URLが変更もしくは廃止され、これに起因して利用者の皆様に損害が発生した場合でも、当社は一切責任を負担致しません。</li>
</ol>

<h2>免責事項</h2>

<ol>
    <li>当社は、本サービスの中断、変更及び終了について、一切の責任を負いません。当社は、当社の提供する情報及びユーザーから提供された情報の即時性並びに設定及び情報が喪失しないこと、又は改ざんされないことについて何らの保証もせず、且つ一切の責任を負いません。</li>
    <li>当社は、ユーザーの登録を監視する義務を負いません。当社は、本サービスを監視する義務を負わず、監視をしなかったことに起因してユーザーに発生した不利益又は損害について、一切の責任を負いません。</li>
    <li>当社は、外部のウェブサイトへのリンクを提供しますが、当該リンク先が提供するサービスの合法性、道徳性、信頼性、正確性及びリンク先の現存性について、一切の責任を負いません。当社は、ユーザーが自発的に開示した情報により、他のユーザー又は第三者から誹謗中傷、いやがらせ、詐欺、ストーカー行為等の被害を受けた場合にも、一切責任を負いません。</li>
    <li>当社は、ユーザーが本サービスを利用したことによりユーザーに発生した不利益又は損害について、一切責任を負いません。当社は、本規約に従った当社の行為に基づいてユーザーに発生した不利益又は損害について、一切の責任を負いません。</li>
</ol>

<h2>禁止事項</h2>

<p>ユーザーは以下の各号の行為を行ってはなりません。</p>

<ol>
    <li>犯罪予告、犯罪の指南等、犯罪を引き起こすおそれのある行為</li>
    <li>人種、民族、 国家、宗教、信条、性別、社会的身分、居住場所、身体的特徴、病歴、教育、財産及び収入等を根拠にする差別的表現行為</li>
    <li>倫理的に問題がある低俗、有害、下品な行為、他人に嫌悪感を与える内容の情報を開示する行為及びポルノ、売春、風俗営業、これらに関連する内容の情報を開示する行為</li>
    <li>自分以外の個人や会社、団体を名乗ったり、権限なく特定の会社や団体の名称を使用したり、架空の個人や会社、団体を名乗ったり、事実がないにも関わらず他の人物や会社、団体と業務提携や協力関係があると偽ったりする行為</li>
    <li>他者になりすましてサービスを利用したり、情報を改ざんする行為</li>
    <li>その他、公序良俗に反するかあるいは社会的に不適切な行為</li>
    <li>当社の承諾無く本サービスを転用、販売及び再販する行為</li>
    <li>本サービスの各カテゴリと関係がない類似した内容を繰り返しコメント欄に掲載したり、投稿する行為</li>
    <li>前記各号の他、法令及び本規約に違反する行為</li>
</ol>

<h2>反社会的勢力との関係がないことの表明保証</h2>

<ol>
    <li>ユーザーは、自らが暴力団、暴力団員又はこれらに準ずる者（以下「暴力団等」という。）でないこと、資金提供その他の行為を行うことを通じて暴力団等の維持、運営に協力若しくは関与していないこと、及び自らが暴力団等と交流を持っていないことを当社に対し表明し、且つ保証します。</li>
</ol>

<h2>本規約の違反</h2>

<p>ユーザーが本規約に違反したと当社が判断した場合は、当社は該当ユーザーに対し、以下の措置をとることができるものとします。なお、当該各措置の選択は、複数の措置を同時に行うことを含めて当社が自らの裁量により自由に行うことができます。</p>

<ol>
    <li>注意または警告</li>
    <li>ユーザーが登録した情報の削除</li>
    <li>本サービスの一時的な利用停止</li>
    <li>ユーザー登録の削除</li>
</ol>

<p>上記の措置を受けたユーザーと異なる場合についても、当社が同一人と判断した場合には、そのユーザーについても同様の措置をとることができるものとします。</p>

<h2>個人情報の取り扱い</h2>

<ol>
    <li>当社は、本サービスをご利用になる利用者の皆様の利便性を向上させる目的で統計データを作成するために、IPアドレスやブラウザ種別などのアクセスログ（以下、利用者情報）を取得することがあります。但し、法的に要求された場合および第3項に定める場合を除き、第三者に利用者情報を公開することはありません。</li>
    <li>当社では、利用者の twitter の書き込み・読み込み権限を OAuth によって取得しますが、ユーザーのタイムラインおよびダイレクトメッセージを読み込むことはありません。</li>
    <li>サービスの迅速な開発と保守のため、PARTAKEの著作権を保有し開発しているコミュニティThe PARTAKE Committers に対必要な情報を提示することがあります。その場合、提供された情報の利用は開発保守の目的に限られるものとします。</li>
</ol>

<h2>準拠法および管轄</h2>

<ol>
    <li>本規約の準拠法は日本法とし、本規約および本サービスに関する一切の紛争は、東京地方裁判所を第一審専属合意管轄裁判所とします。</li>
</ol>

<h2>付則</h2>

<ol>
    <li>本規約は２０１０年１０月２１日から実施します。</li>
    <li>本規約は２０１０年１２月０８日に更新されました。</li>
    <li>本規約は２０１１年０８月０８日に更新されました。</li>
</ol>

</div></div>
}
