@(ctx: in.partake.controller.PartakeActionContext, user: in.partake.model.UserEx)@internal.main(ctx, user.getScreenName()) {
<div class="container"><div class="content-body">

<div class="page-header">
	<h1>@user.getScreenName()</h1>
    @if(ctx.loginUser != null && ctx.loginUser.isAdministrator()) {
        <button id="ban-user" class="btn" disabled>Loading...</button>
        <script>
            var $banButton = $("#ban-user").click(function(e){
                var targetState = $(this).data("target-state"),
                    targetUserId = "@user.getId()";
                $banButton.prop('disabled', true);
                partake.account.ban(targetUserId, targetState).done(function(user){
                    updateBanButton(user);
                }).fail(partake.defaultFailHandler);
            });

            function updateBanButton(user) {
                if (user.isBanned) {
                    $banButton.removeClass("btn-warning").data("target-state", false).text("イベント作成を許可する");
                } else {
                    $banButton.addClass("btn-warning").data("target-state", true).text("イベント作成を禁止する");
                }
                $banButton.prop('disabled', false);
            }
            $(function(){
                partake.account.getBan("@user.getId()").done(function(user){
                    updateBanButton(user);
                }).fail(partake.defaultFailHandler);
            });
        </script>
    }
</div>

<div class="row tabbable">
    <div class="span6"><div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list tabs">
            <li class="nav-header">イベント</li>
            <li class="active"><a href="#event-owner" data-toggle="tab">主催イベント</a></li>
            <li><a href="#event-enrolled" data-toggle="tab">登録イベント</a></li>
        </ul>
    </div></div>
    <div class="span18 tab-content">
        <div class="tab-pane active" id="event-owner">
        	@users._event_table(ctx, user, "owner", "owner")
        </div>
        <div class="tab-pane" id="event-enrolled">
        	@users._enrollment_table(ctx, user, "enrollment")
        </div>
    </div>
</div>

</div></div>
}
