@charset "UTF-8";

/* ==================================================================
 * font layer
 * ==================================================================
 */
body {
      font-family: Arial, Verdana, sans-serif;
      font-style: normal;
      font-weight: normal; 
      font-size: 13px;
}

.top-recent-events h2,.top-user-events h2 {
      font-size: 13px;
}

.top-recent-events h3 a {
      color:#494440;
      font-size: 13px;
}

.top-recent-events h3 a:hover {
	  color:#616161;
      border-bottom:2px dotted #ffbf0D;
}

.top-explanations h2 {
      font-size: 18px;
}

.top-explanations h3 {
      font-size: 14px;
}

.top-introduction {
    font-weight: normal;
    font-size: 0.96em;
}

.top-introduce {
    font-weight: bold;
    color:#494440;
}

.top-feature {
    font-weight: normal; 
    font-size: 0.96em;
}
.big{
    font-size:2.2em;
    font-weight:bold;
}

.event-form dt {
    font-size: 15px;
    font-weight: bold; 
}

.event-form dd {
    font-size: 94%;
}

.event-form input, .event-form textarea {
    font-size: 22px;
}

.event-form dd .auxtext {
    line-height: 16px;
    font-size: 16px;
}

#event-search-form {
    font-weight: bold;
}

.line-space {
    font-size: 13px;
    font-weight: normal; 
}

.event-participants h2 {
    font-size: 12px;
}

.event-participants li {
    font-size: 12px;
}

.event-owner-information h2,.event-status h2 {
    font-size: 12px;
}

.event-comments h2 {
    font-size: 12px;
}

ul.actionMessage, ul.warningMessage, ul.errorMessage {
    font-size: 14px;
    font-weight: bold;
}

/* ==================================================================
 * header
 * ==================================================================
 */
#header {
    letter-spacing: -0.2px;
}
#sitetitle {
    font-size: 1.5em;
}
#header ul {
	font-size: 0.96em;    
}
/* ==================================================================
 * footer
 * ==================================================================
 */
/* ==================================================================
 * sidebar
 * ==================================================================
 */
/* ==================================================================
 * headings
 * ==================================================================
 */

h1 {
    font-weight: bold;
    font-size: 1.90em; 
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin-left:6px;
}

h3 {
    font-size: 1.2em;
    margin-left:8px;
}

/* ==================================================================
 * blocks
 * ==================================================================
 */

div.meta {
    font-size: 0.8em;
}

pre {
    font-family: monospace;
    font-size: 1em;
}

blockquote:before {
    font-size: 0.8em;
    font-style: italic;
}

blockquote:after {
    font-size: 0.8em;
    font-style: italic;
}

/* ==================================================================
 * divs
 * ==================================================================
 */



/* ==================================================================
 * inline elements
 * ==================================================================
 */

kbd {
    font-size: 1em;
}

q {
    font-style: normal;
}

code {
    font-family: monospace;
    font-size: 1em;
}

.com {
    font-style: italic;
}

.type {
    font-weight: bold;
}

.key {
    font-weight: bold;
}

.murmur {
    font-size: 0.8em;
}

.bold {
    color: inherit;
    font-weight: bold;
}

/* ==================================================================
 * anchors
 * ==================================================================
 */

/* ==================================================================
 * lists
 * ==================================================================
 */

/* ==================================================================
 * ins and dels
 * ==================================================================
 */

del {
    font-size: 0.9em;
    font-weight: normal;
}

del a {
    font-weight: normal;
}

/* ==================================================================
 * forms
 * ==================================================================
 */