@charset "UTF-8";


 /* 余分なものを消す */	
 
@media print {

#wrapper {
    -moz-box-shadow: 0px 0px 0px #B8B8B8; /* firefox */
    -webkit-box-shadow: 0px 0px 0px #B8B8B8;/* Safari,Chrome */
    box-shadow: 0px 0px 0px #B8B8B8; /* CSS3 */
    border:none;
}	
		
#footer,#header,.delete1,.output,h1 {
visibility: hidden;
display: none;
}

#header,#content,.top-introduction {
	color: inherit;
	background-image: none;
}
	
 /* その他調整 */	
	
.mypage-tbl {
    word-break: break-all;
	word-wrap:break-word;
    table-layout:fixed;
    width:825px;
    line-height: 2em;
    margin: 5px 0 10px 0;
    font-size: 13px;
    border-collapse:collapse;
    border-spacing:0;
}

.mypage-tbl th {
    line-height:20px;
    padding: 2px 14px;    
    color: #afd8e2;
    background-color: #494440;
    border: 1px solid #b8b8b8;
}

.mypage-tbl td {
    padding: 2px 14px;
    margin: 0;
    cellpadding: 0;
    border: 1px solid #b8b8b8;
}

h1 {
    font-weight: bold;
    font-size: 1.40em; 
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
}

h3 {
    font-size: 1.2em;
}	
}