@(ctx: in.partake.controller.PartakeActionContext,
  event: in.partake.model.EventEx,
  navigation: String)
<div class="subnav subnav-fixed"><div class="container">
    <ul class="nav nav-pills nav-stacked-if-phone">
        <li @if("basic".equals(navigation)) {class='active'}><a href="/events/edit/basic/@event.getId()">基本内容</a></li>
        <li @if("ticket".equals(navigation)) {class='active'}><a href="/events/edit/ticket/@event.getId()">チケット</a></li>
        <li @if("enquete".equals(navigation)) {class='active'}><a href="/events/edit/enquete/@event.getId()">アンケート</a></li>
        <li @if("privacy".equals(navigation)) {class='active'}><a href="/events/edit/privacy/@event.getId()">プライバシー</a></li>
        <li class="pull-right-if-not-phone"><a href="/events/@event.getId()">編集を終了</a></li>
    </ul>
</div></div>
<script type="text/javascript">
// see https://github.com/partakein/partake/issues/418
$(document).on("click", "a[href!=#]", function(e){
    var that = this;
    function isLinkInTinyMce() {
        return $(that).parents('[class^=mce]').length > 0;
    }
    function isLinkInDateEdit() {
        return $(that).parents('.ui-datepicker-header').length > 0;
    }
    function isEditing() {
        return $("input[type=button]").filter(":visible:enabled").length > 0;
    }
    if (!isLinkInTinyMce() && !isLinkInDateEdit() && isEditing() &&
            !window.confirm("保存していない変更があります。保存しないまま編集を終了し、次のページに行く場合は「OK」を押してください。")) {
        // cancel saving, and continue to edit
        e.preventDefault();
    }
});
</script>
