@(ctx: in.partake.controller.PartakeActionContext,
  event: in.partake.model.EventEx,
  user: in.partake.model.UserEx,
  tickets: List[in.partake.model.dto.EventTicket],
  ticketHolderListMap: Map[UUID, in.partake.model.EventTicketHolderList])
@import in.partake.view.util._
@import in.partake.base._
@import org.apache.commons.lang._
@import in.partake.model.dto.auxiliary._

@for(ticket <- tickets) {
    @defining(ticketHolderListMap.get(ticket.getId())) { list =>

    <h2>@ticket.getName()</h2>
    <table class="table table-bordered">
        <colgroup><col class="span3"><col class="span4"></colgroup>
        <tr><th>参加者</th><td>@list.getEnrolledParticipations().size() 人 (仮参加者 @list.getReservedEnrolled() 人)</td></tr>
        <tr><th>補欠</th><td>@list.getSpareParticipations().size() 人 (仮参加者 @list.getReservedSpare() 人)</td></tr>
        <tr><th>キャンセル</th><td>@list.getCancelledParticipations().size() 人</td></tr>
    </table>

<div>
    <h3>参加者</h3>
    @if(list.getEnrolledParticipations().isEmpty()) {
    <p>現在参加者はいません</p>
    } else {
    <ol>
        @for(userTicket <- list.getEnrolledParticipations()) {
            <li>
                <img class="userphoto" src="@userTicket.getUser().getProfileImageURL()" alt="">
                <a href="/users/@userTicket.getUserId()">
                    @userTicket.getUser().getScreenName()
                </a>
                @if(userTicket.getStatus().equals(ParticipationStatus.RESERVED)) { <img src="@routes.Assets.at("/images/reserved1.png")" title="仮参加" alt="仮参加者" /> }
                : @userTicket.getComment()
            </li>
        }
    </ol>
    }
</div>

<div id="list-@ticket.getId().toString()">
    <h3>補欠</h3>
    @if(list.getSpareParticipations().isEmpty()) {
    <p>現在補欠者はいません</p>
    } else {
    <ol>
        @for(userTicket <- list.getSpareParticipations()) {
            <li>
                <img class="userphoto" src="@userTicket.getUser().getProfileImageURL()" alt="">
                <a href="/users/@userTicket.getUserId()">
                    @userTicket.getUser().getTwitterLinkage().getScreenName()
                </a>
                @if(userTicket.getStatus().equals(ParticipationStatus.RESERVED)) { <img src="@routes.Assets.at("/images/reserved1.png")" title="仮参加" alt="仮参加者" /> }
                : @userTicket.getComment()
            </li>
        }
    </ol>
    }

    <h3>キャンセル</h3>
    @if(list.getCancelledParticipations().isEmpty()) {
    <p>現在補欠者はいません</p>
    } else {
    <ol>
        @for(userTicket <- list.getCancelledParticipations()) {
            <li>
                <img class="userphoto" src="@userTicket.getUser().getProfileImageURL()" alt="">
                <a href="/users/@userTicket.getUserId()">
                    @userTicket.getUser().getScreenName()
                </a>
                @if(userTicket.getStatus().equals(ParticipationStatus.RESERVED)) { <img src="@routes.Assets.at("/images/reserved1.png")" title="仮参加" alt="仮参加者" /> }
                : @userTicket.getComment()
            </li>
        }
    </ol>
    }
</div>
}
}


