@(ctx: in.partake.controller.PartakeActionContext,
  event: in.partake.model.EventEx,
  user: in.partake.model.UserEx,
  tickets: java.util.List[in.partake.model.dto.EventTicket],
  userTicketMap: java.util.Map[java.util.UUID, in.partake.model.dto.UserTicket])
@import in.partake.view.util._
@import in.partake.base._
@import in.partake.model.dto.auxiliary._

@if(tickets == null || tickets.isEmpty()) {
<div class="enroll-bar">
    <p>このイベントにはチケットが登録されていません。</p>
</div>
} else {
    @for(ticket <- tickets) {
        @defining(if (userTicketMap.get(ticket.getId()) != null) { userTicketMap.get(ticket.getId()).getStatus() } else { ParticipationStatus.NOT_ENROLLED }) { status =>
<div class="enroll-bar">
    <div class="row clearfix">
        <div class="span6">
            <p style="font-size: 20px; line-height: 40px;">@ticket.getName()</p>
        </div>
        <div class="span10">
            <p>定員 @if(ticket.isAmountInfinite()) { 制限なし } else { @String.valueOf(ticket.getAmount()) }</p>
            <p>申込期間 @Helper.readableApplicationDuration(ticket, event) </p>
        </div>

        <div class="span8" style="height: 50px;"><div class="row">
        @if(!ticket.acceptsApplication(event, TimeUtil.getCurrentDateTime())) {
            <a href="#" class="btn btn-flat span8 p2-height disabled">申込期間外です</a>
        } else {
            @if(user == null) {
                <a href="#" class="btn btn-flat span8 p2-height disabled">参加するためにはログインが必要です</a>
            } else {
                @if(ParticipationStatus.ENROLLED.equals(status) || ParticipationStatus.RESERVED.equals(status)) {
                    <a href="#" class="btn button-apply-ticket span8 p2-height" data-ticket="@ticket.getId().toString()">申込変更</a>
                } else {
                    <a href="#" class="btn btn-danger-flat button-apply-ticket span8 p2-height" data-ticket="@ticket.getId().toString()">参加申込</a>
                }
            }
        }
        </div></div>
    </div>
</div>
        }
    }
}

@* NOTE: DO NOT APPEND any script here. This html will be shown many times in one page. Write script in _show_forms.scala.html *@

