@(ctx: in.partake.controller.PartakeActionContext)@internal.mainForIndex(ctx, "[PARTAKE]") {
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed/all" />
} {
<div class="container"><div class="content-body">

<div class="row clearfix">
    <div class="span8">
        <h2>PARTAKE</h2>
        <p>PARTAKE (パーテイク) は、イベントの作成・参加管理・参加者への連絡が簡単にできる、イベント開催支援サービスです。</p>
        <p>飲み会のメンバー募集から、セミナーや勉強会の開催、あるいは大規模イベントの開催まで、PARTAKE は強力にイベントの開催を支援します。</p>
        <p><a id="top-create-event" class="btn btn-large btn-info span6" href="#create-event-dialog" style="margin-bottom: 10px;">イベントを作る (無料)</a></p>
        <p><a href="/events/@in.partake.resource.Constants.DEMO_ID.toString()" class="btn btn-large span6">デモを見る</a></p>
        <script>
        @if(ctx.loginUser != null) {
            $('#top-create-event').click(function(e) {
                $('#create-event-dialog').modal('show');
            });
        } else {
            $('#top-create-event').click(function(e) {
                location.href = '/loginRequired';
            });
        }
        </script>
    </div>
    <div class="span16">
        @if(ctx.loginUser() != null) {
        <h3>近日開催の参加予定イベント</h3>
        <div id="upcoming-participating-events"><img src="@routes.Assets.at("img/spinner.gif")"></div>
        <h3>近日開催の管理イベント</h3>
        <div id="upcoming-managing-events"><img src="@routes.Assets.at("img/spinner.gif")"></div>
        <script>
        partake.account.getTickets('upcoming', 0, 10)
        .done(function(json) {
            var elem = $('#upcoming-participating-events');
            if (json.ticketStatuses.length == 0) {
                elem.html("<p>参加予定イベントはありません。</p>");
                return;
            }

            var table = $('<table class="table"></table>');
            table.append($('<tr><th>タイトル</th><th>開催日時</th><th>ステータス</th></tr>'));
            for (var i = 0; i < json.ticketStatuses.length; ++i) {
                var ticketStatus = json.ticketStatuses[i];
                var tr = $('<tr></tr>');
                var title = $('<td></td>').html(
                    $('<a></a>').text(ticketStatus.event.title).attr('href', '/events/' + ticketStatus.event.id)
                );
                var date = $('<td></td>').text(ticketStatus.event.beginDateText);
                var status = $('<td></td>').text(ticketStatus.status);
                tr.append(title).append(date).append(status);
                table.append(tr);
            }
            elem.html(table);
        })
        .fail(partake.defaultFailHandler);

        partake.account.getEvents('upcomingManaging', 0, 10)
        .done(function(json) {
            var elem = $('#upcoming-managing-events');
            if (json.eventStatuses.length == 0) {
                elem.html("<p>管理しているイベントはありません。</p>");
                return;
            }

            var table = $('<table class="table"></table>');
            table.append($('<tr><th>タイトル</th><th>開催日時</th><th>参加人数</th></tr>'));
            for (var i = 0; i < json.eventStatuses.length; ++i) {
                var eventStatus = json.eventStatuses[i];
                var tr = $('<tr></tr>');
                var a = $('<a></a>').text(eventStatus.event.title).attr('href', '/events/' + eventStatus.event.id);
                var title = $('<td></td>').html(a);
                if (eventStatus.event.draft)
                    title.append($('<span class="label">下書</span>'));
                if (eventStatus.event.passcode && eventStatus.event.passcode != "")
                    title.append($('<span class="label">非公開</span>'));
                var date = $('<td></td>').text(eventStatus.event.beginDateText);
                var status = $('<td></td>').text(eventStatus.numEnrolledUsers + eventStatus.numReservedUsers);
                tr.append(title).append(date).append(status);
                table.append(tr);
            }
            elem.html(table);
        })
        .fail(partake.defaultFailHandler);
       </script>
        } else {
        <div id="toppage-carousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="@routes.Assets.at("/images/carousel-search.png")" alt="" style="height: 350px;">
                    <div class="carousel-caption">
                        <h4>イベントを探そう</h4>
                        <p><a href="/events/search">イベント検索ページ</a>から、登録されているイベントを検索することができます。</p>
                        <p>Twitter 上では<a href="http://twitter.com/partake_bot">公式ボット</a>がイベントが登録されるたびにつぶやきます。今すぐフォローしてイベントをチェック！</p>

                    </div>
                </div>
                <div class="item">
                    <img src="@routes.Assets.at("/images/carousel-event.png")" alt="" style="height: 350px;">
                    <div class="carousel-caption">
                        <h4>イベントを作ろう</h4>
                        <p>PARTAKE では、必要な情報を入力するだけで簡単にイベントページを作ることができます。イベントの登録は無料です。</p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#toppage-carousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#toppage-carousel" data-slide="next">›</a>
        </div>
        }
    </div>
</div>

@events._search(ctx, true)

</div></div>
}
